<div class="chat-name">
      <div class="left-header">
        <%= @room.name%>
      </div>
      <div class="right-header">
        <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
      </div>
    </div>
    <div class="chat-messages">
      <%= render partial: 'message', collection: @messages %>  
    </div>
    <div class="chat-form">
      <%# <div class="text-form"> %>
      <%= form_with model: [@room, @message], html: {class: "text-form"}, local: true do |f| %>
        <div class="text-input" >
        <%= f.text_field :content, class: 'text-input', placeholder: "type a message" %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
          <%# <input class="hidden" type="file"> %>
        </div>
      <%# <div class="image-form"></div> %>
      <%# <input class="form-button" type="submit" value="送信"> %>
      <%= f.submit '送信', class: 'form-button' %>
      <% end %>
    </div>